    .banner {
        padding-top: 80px;
        background: $color2 url(../images/tlo_bannera_1.png);
        background-position: bottom right;
        background-size: cover;
        display: flex;
        overflow: visible;
        z-index: 1;
        @media (max-width: 800px) {
            padding-top: 60px;
        }
        @media (max-width: 600px) {
            overflow: hidden;
        }
        .container {
            margin: 0 0 0 9%;
            width: 100%;
            overflow: visible;
            flex-direction: row;
            align-items: center;
            max-width: none;
            @media (max-width: 460px) {
                width: 85%;
            }
        }
        .banner-content {
            // display: flex;
            width: 55%;
            margin: 0 0 -8px 0;
            overflow: visible;
            @media (max-width: 600px) {
                width: 120%;
            }
            img {
                @media (max-width: 600px) {
                    margin-left: 3%;
                    width: 120%;
                }
            }
        }
        .banner-text {
            font-size: 3vw;
            font-weight: 300;
            line-height: 1.2em;
            color: #333;
            margin-left: 7vw;
            position: relative;
            bottom: -10%;
            @media (max-width: 600px) {
                display: none;
            }
            @media (max-width: 900px) {}
        }
        .banner-text {
            width: fit-content;
            padding: 0 10px;
            .stronger {
                font-weight: 800;
                font-size: 3.3vw;
                line-height: 1.3em;
            }
            .layer {
                position: relative;
                border: 1px solid transparent;
            }
            .period {
                font-size: 2vw;
                color: #fff;
                background: $color3;
                margin-top: 2vw;
                padding: 2vw 3vw 1.5vw;
                text-align: center;
                transform: rotate(-10deg) translate(0, 0);
                text-transform: uppercase;
                border-radius: 7px;
                border: 0.3vw solid rgba($color5, 0.6);
                margin-left: -24px;
                &.shadow {
                    background: rgba($color8, 0.1);
                    transform: rotate(-10deg) translate(15px, 25px);
                    border: none;
                    color: rgba($color8, 0.1);
                }
                b {
                    font-size: 4.5vw;
                    font-weight: 800;
                    display: block;
                    margin-bottom: 8px;
                }
            }
        }
    }